@font-face {
    font-family: "Proxima_Nova_Light";
    src: url(fonts/Proxima_Nova_Light.otf);
}

@font-face {
    font-family: "Proxima_Nova_Regular";
    src: url(fonts/Proxima_Nova_Regular.otf);
}

@font-face {
    font-family: "Proxima_Nova_Semibold";
    src: url(fonts/Proxima_Nova_Semibold.otf);
}
@font-face {
    font-family: "Proxima_Nova_Bold";
    src: url(fonts/Proxima_Nova_Bold.otf);
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

body {
    font-family: Proxima_Nova_Regular;
    line-height: 1;
    color: #333333;
}

.back1 {
    background: #f5f5f5
}

.back1 .top-line {
    margin: auto;
    padding-top: 23px;
    max-width: 1170px;
}

.back1 .top-line .logo {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 78px;
}

.back1 .top-line .text-logo {
    display: inline-block;
    vertical-align: top;
    padding-top: 0;
    margin-top: -3px;
    font-family: Proxima_Nova_Light;
    font-size: 13px;
    padding-left: 8px;
    margin-left: 3px;
    border-left: 1px solid #333333;
    line-height: 1;
}

.back1 .top-line .phone {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    font-family: Proxima_Nova_Light;
    font-size: 16px;
    padding-left: 35px;
    /*color: #358dbc;*/
}

.back1 .top-line .call-back {
    font-size: 11px;
    font-family: Proxima_Nova_Light;
    vertical-align: top;
    text-decoration: underline;
    float: right;
    margin-top: -2px;
}

.back1 .block1 {
    margin: auto;
    max-width: 1170px;
    padding-bottom: 30px;
}

.back1 .block1 .header {
    /*font-weight: normal;*/
    text-align: center;
    padding-top: 88px;
    font-size: 32px;
    margin: auto;
    line-height: 1.3;
}

.back1 .block1 .header span {
    font-family: "Proxima_Nova_Semibold";
}

.back1 .block1 .under-header {
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    color: #737373;
}
